body {
    padding-inline: 1em;
}

/* /* main section h1, main section h2, main section h3, main section p {
    padding: 1rem;
} */
/* nog fixen */
main section img {
    display: block;
    margin-inline: -1em;
    /* width: 100dvw; */ */
    position:relative;
    width: 100vw;
}

main {
	margin: 0;
}

/* plaatje boven h1 */
section:first-of-type {
	display: flex;
	flex-direction: column; 
	
}

main > section:first-of-type img:nth-of-type(1) {
  	order: -1; 
	padding: 0;
}

/* p op de hele pagina juiste format */
section > p {
	padding: 1em;
    font-size: 13px;
}

section ul li p {
    padding: 0;
}

section:nth-of-type(4) li h2 {
    padding: 0;
}

/* linkjes stylen */
main section > a {
    /* width: auto; */
    font-family: 'proxima nova';
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
	border-radius: 3em;
    transition: color .15s 
        ease-in-out, background-color .15s 
        ease-in-out, border-color .15s 
        ease-in-out, box-shadow .15s 
        ease-in-out;
	padding: .625rem 1.5rem;
	text-align: center;
	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
    background-color: var(--geel); 
    color: black;
    align-self: start;
}
/* chatgpt als bron voor inline flex, transition waardes etc van originele site, Sanne als bron voor align-self:start */

/* hover voor linkjes */
main section > a:hover {
    background-color: #fae673;
}

section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    background-color: var(--achtergronddonkerblauw);
    color: var(--wit);
    padding-bottom: 2em;
}

section:nth-of-type(3) img {
    order: -1; /* zet de afbeelding boven de h2 */
}

/* styling 4e sectie */
section:nth-of-type(4) ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
	padding: 1em;
	margin: 0;
}

section:nth-of-type(4) li{
	list-style: none;
}

section:nth-of-type(4) li {
  display: flex;
  flex-direction: column;
}

section:nth-of-type(4) li img {
  order: -1;
}

section:nth-of-type(4) a {
    color:#002f87;
    font-family: 'proxima nova';



}