/*/
/* CUSTOM PROPERTIES */
/* 1 met custom properties (kleuren, fonts, header & footer), main,  */
@font-face {
	font-family: 'proxima nova';
	src: url(../fonts/proxima-nova.woff2);
}

@font-face {
	font-family: 'chunk rethunk';
	src: url(../fonts/chunk-rethunk.woff2);
}

:root {
	--textkleur:#141414;
	--wit:#ffffff;
	--lichtblauw:#77ddf5;
	--superlichtblauw:#EDF8FB;
	--donkerblauw:#001e80;
	--footerEerste:#c4e7f3;
	--footerTweede:#2a5729;
  --geel: #ffbc0e;
	--textdonkerblauw: #002f87;
  --achtergronddonkerblauw: #1D1459;
  --grijs: #595959;
  --link:#002f87; 
  /* deze blijft na darkmode ook wit */
  --altijdwit: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--textkleur:#f2f2f2;
		--wit:#112938;
		--lichtblauw:#4da3ff;
		--superlichtblauw:#0a1a27;
		--donkerblauw:#001347;
		--footerEerste:#193a4b;
		--footerTweede:#234a22;
		--geel:#e0a800;
		--textdonkerblauw:#8db3ff;
		--achtergronddonkerblauw:#0b0933;
    --link:#94E3DD; 
		--grijs:#bfbfbf;
	}
}

html, body {
  overflow-x: hidden;
}

/* CSS REMEDY */
*, *::after, *::before {
    box-sizing:border-box;
    margin: 0;
}

body > a:first-of-type { 
    background-color: var(--wit);
    color: var(--textkleur);
    z-index: 10000;
}

h1, h2, h3, h4 {
  	font-family: 'chunk rethunk';
    padding: 0.7em 0 0.7em 0;
    color: var(--textkleur);
}

p {
	font-family: 'proxima nova';
  color: var(--textkleur);
}

/* beetje hulp met debuggen van Nienke, studentassistent andere klas */
@media (prefers-color-scheme: dark) {
  footer:nth-of-type(2) h3, p, a {
    color: var(--altijdwit);
  }
}

img {
	max-width: 100%;
}


header {
	min-height:4em;
	padding:0 1em;
	line-height:1;
	
	/* JOUW CODE HIER - stap 3 */  
	display:flex;
	justify-content: space-between;
	align-items: center;
	
	/* JOUW CODE HIER - stap 3 */
	position:sticky;
	top:0;
  z-index: 1000;
  transition: transform 0.4s ease;
  background-color: var(--wit);
}

header.verberg {
  transform: translateY(-100%);
}
/* chatgpt voor bovenstaand stukje voor inklappen header */


/* shoutout naar Randi voor helpen bij mijn header en navigatie */

header > a {
  padding:.5em 0;
}



/********/
/* LOGO */
/********/
header > a:first-of-type {
  	z-index:1000;
}
/* om het logo te laten staan bij uitklappen */

header > a:first-of-type img {
  	height:3em;
}

/* link icon */
header > a:last-of-type img {
  width:auto;
  height:3.7em;
  padding: 0.5em
}

/***************/
/* MENU BUTTON */
/***************/
nav button {
	padding:.5em;
	

	/* standaard styling aanpassen */
	appearance:none;
	background-color:var(--button-background);
	border:none;
	border-radius:.25em; 
	font:inherit;
	text-align:center;
	color:var(--button-color);
  
  /* JOUW CODE HIER - stap 5 */
  position:relative;
  z-index:100000;
}

/* als menu open is */
nav.toonMenu button img {
  /* JOUW CODE HIER - stap 5 */
  /* url kruisje: https://assets.codepen.io/274456/ui-icon-cross.svg */
  content:url("../images/close-svgrepo-com.svg")
}

/* bron van de gehele header eigenlijk: Sanne */





/*******************/
/* LIJST MET LINKS */
/*******************/
nav ul { 
	height:0;
  margin:0; 
  padding:0em 1em;
  list-style:none;

  overflow: hidden;
  
  display:flex;
  flex-direction: column;
  /* gap:2em; */
  align-content:start;
  background:var(--wit);  
  
  /* JOUW CODE HIER - stap 1 */
  position:fixed;

  top:4em;
  left:0;
  right:0;

  
  /* JOUW CODE HIER - stap 4 */
transition: 1s;
  
}

/* als menu open is */
nav.toonMenu ul {
  /* JOUW CODE HIER - stap 4 */
	padding:1em 1em;
	height:calc( 100dvh - 4em );
  
}



/************************/
/* EEN LINK IN DE LIJST */
/************************/
nav a {
  /* icon en tekst met gap-je naast elkaar */
  align-items:center;
  
}

header nav a:hover {
	text-decoration: underline;
	color: var(--textdonkerblauw);
}

nav a img { 
  width:auto;
  height:2em;
}

nav a.active {
  font-weight:bold;
}





/****************************************************************/
/* styling voor de header als de browser minimaal 38em breed is */
/****************************************************************/
/* Mobile-first header and navigation styling */
header {
  min-height:4em;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position:sticky;
  z-index: 1000;
  transition: transform 0.4s ease;
}

header.verberg {
  transform: translateY(-100%);
}

/* Logo wrapper */
header > a {
  padding:.5em 0;
}

/* Logo on mobile */
header > a:first-of-type {
  z-index:1000;
}

header > a:first-of-type img {
  height:3em;
}

/* Link icon right side (if present) */
header > a:last-of-type img {
  width:auto;
  height:3.7em;
  padding: 0.5em;
}

/* Mobile hamburger button */
nav button {
  padding:.5em;
  appearance:none;
  background-color:var(--button-background);
  border:none;
  border-radius:.25em;
  font:inherit;
  text-align:center;
  color:var(--button-color);
  position:relative;
  z-index:100000;
}

nav button img {
  height:1.5em;
}

@media (prefers-color-scheme: dark) {
  nav button img {
    height:1.5em;
    filter: invert();
  }
}

nav.toonMenu button img {
  content:url("../images/close-svgrepo-com.svg");
}


/* Menu open state */
nav.toonMenu ul {
  padding:1em 1em;
  height:calc(100dvh - 4em);
}

/* Link styling */
nav a {
  display:flex;
  align-items:center;
  font-family: 'chunk rethunk';
  padding:1em;
  color:var(--textkleur);
  text-decoration:none;
  white-space: nowrap; /* voorkomt dat tekst onder elkaar gaat */
}

header nav a:hover {
  text-decoration:underline;
  color:var(--textdonkerblauw);
}

nav a img {
  width:auto;
  height:2em;
  margin-right:0.5em; /* beetje ruimte tussen icon en tekst */
}

nav a.active {
  font-weight:bold;
}

/* Desktop layout */
@media (min-width:38em) {
  header {
    justify-content:flex-start;
  }

  header > a:first-of-type {
    flex:0 0 auto;
    margin-right:2rem;
  }

  nav button {
    display:none;
  }

  nav ul {
    position:static;
    flex-direction:row;
    padding:1em 0;
    height:auto;
    gap:1rem;
  }

  nav li {
    flex-basis:0;
    flex-grow:0;
  }

  /* Belangrijk: alle nav links naast elkaar en niet wrappen */


  header > a:last-of-type {
    flex-direction:column;
  }
}


/* FOOTER */
footer h2 {
    padding: 1.5em 1em 1.5em 1em;
}
footer section:nth-of-type(1) {
    background: var(--footerEerste);
    padding-bottom: 12em;
    position: relative;
}

footer section:first-of-type > img {
    position: absolute;
    bottom: -2rem;
    right: 3rem;
    width: 37%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/* bron: https://www.a11yproject.com/posts/how-to-hide-content/ */

footer section:nth-of-type(1) ul li {
    display: grid;
    grid-template-columns:5em 1fr ;
    grid-template-rows: min-content min-content min-content;
    font-size: 12px;
    padding-bottom: 1em;;
    padding-left: 0;
}

footer section:nth-of-type(1) ul li img {
    grid-column: 1;
    grid-row: 1/-1;
    width: 10em;
    padding: 0.5em 0.5em 0 0;
}

footer section:nth-of-type(1) ul li h3 {
    grid-column: 2;
}

footer section:nth-of-type(1) ul li a {
    grid-row: 3;
    grid-column: 2;
    padding: 0.7em 0 1em 0;
    font-family: 'proxima nova';
    color: var(--link);
}

footer section:nth-of-type(1) ul li p {
    padding: .7em 0 .7em 0;
}
 /* bij deze grid hebben de studentassistenten mij geholpen tijdens voortgangsgesprek */

footer section:nth-of-type(2) {
    background: var(--footerTweede);
    padding: 1em 1em 4em 1em;
}

footer section:nth-of-type(2) h3, footer section:nth-of-type(2) p, footer section:nth-of-type(2) a {
  color: var(--altijdwit)
}

footer section:nth-of-type(2) form {
  display: flex
}

footer section:nth-of-type(2) input {
  padding: 1em;
	border-radius: .8em 0 0 .8em;
  border: none;
  width: 100%;
}

footer section:nth-of-type(2) button {
  background-color: var(--geel);
  border: none;
  padding: 1em;
  border-radius: 0 .8em .8em 0;
  transition: color .15s 
        ease-in-out, background-color .15s 
        ease-in-out, border-color .15s 
        ease-in-out, box-shadow .15s 
        ease-in-out; 
}

footer section:nth-of-type(2) button:hover {
    background-color: #fae673;

}

/* alles links uitlijnen, standaard padding ul weghalen */
footer section:nth-of-type(2) ul {
  padding: 0;
}

/* li items stijlen */
footer section:nth-of-type(2) ul li {
  list-style: none;
  padding: .3em
}

footer section:nth-of-type(2) ul li a {
    text-decoration: none;
    color: var(--altijdwit);
    font-family: 'proxima nova';
    font-size: 0.8em;
}

footer section:nth-of-type(2) h3 {
  font-size: .8em;
  margin-top: 2em;
}

footer section:nth-of-type(2) p {
  font-size: .8em;
  padding: 0.7em 0 0.7em 0;
}

/* socials stijlen */
footer section:nth-of-type(2) ul:nth-of-type(2){
  display: flex;
  gap: .3em;
}

footer section:nth-of-type(2) img {
  width: 2.5em;
}

/* zodat deze afstand heeft van de rest */
footer section:nth-of-type(2) ul:nth-of-type(4) {
  padding: 2em 0 2em 0 ;
}


/* vanaf 38em*/
@media (min-width: 38em) {
  /* zet list items naast elkaar ipv onder elkaar */
  footer section:nth-of-type(1) ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      padding: 1.5em;
  }


  footer section:nth-of-type(1) ul li {
      display: flex;         
      flex-direction: column; 
      font-size: 14px;
      padding-bottom: 0;
  }

  footer section:nth-of-type(1) ul li img,
  footer section:nth-of-type(1) ul li h3,
  footer section:nth-of-type(1) ul li p,
  footer section:nth-of-type(1) ul li a {
      grid-column: unset;     /* verwijder oude grid instellingen */
      grid-row: unset;
      width: 100%;            /* img past in li */
      padding: 0 0 1em 0;     /* ruimte onder afbeelding */
  }
  /* chatgpt */

/* afbeelding koe, omdat deze als enige direct in de eerste sectie staat */
  footer section:first-of-type > img {
    width: 20%;
  }

  /* styling van de 3 vlakken */
  footer section:nth-of-type(1) ul li {
    display: flex;
    flex-direction: column;
  }

  footer section:nth-of-type(1) ul li img {
    order: -1; 
    width: 30%;
  }

  /* zorgt voor grid van 3 naast elkaar */
  footer section:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5em;
    font-size: 18px;
  }

  /* zet p op de 2e rij links */
  footer > section:nth-of-type(2) p {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  /* zet form op de 3e rij links */
  footer > section:nth-of-type(2) form {
    grid-column: 1 / 2;
    grid-row: 4;
  }

  /* zet ul met feedback en unsubscribe op de 2e rij in de middelste column */
  footer > section:nth-of-type(2) ul:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  /* volg ons in de 2-3e column in de 3e rij */
  footer > section:nth-of-type(2) h3:nth-of-type(3) {
    grid-column: 2 / 3;
    grid-row: 3;
  }

  /* social iconen onder "volg ons" */
  footer > section:nth-of-type(2) ul:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 4;
  }


  footer section:nth-of-type(2) ul:nth-of-type(4) {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto); 
  gap: 1rem;
  align-items: center;
}

/* Eerste LI (select) over de volledige breedte van de eerste rij) */
footer section:nth-of-type(2) ul:nth-of-type(4) li:first-of-type {
  grid-column: 1 / -1; 
  justify-self: start; 
}

/* De overige LI's */
footer section:nth-of-type(2) ul:nth-of-type(4) li:not(:first-of-type) {
  justify-self: center;  /* horizontaal gecentreerd binnen hun gridcel */
}
/* chatgpt gebruikt voor de vraag hoe ik de eerst li onderscheidend kon aanroepen van de rest */


}
  

/****************************************************************/
/* styling voor de header als de browser minimaal 57em breed is */
/****************************************************************/
@media (min-width:54em) {
  header > a:last-of-type,
  nav a {
    /* JOUW CODE HIER - stap 11 */
    flex-direction:row;
    
  } 
}