main {
	margin: 0;
}


section:first-of-type{
	display: flex;
	flex-direction: column; 
	
}

main > section:first-of-type img:nth-of-type(1){
  	order: -1; 
	background-color: #375D9D;
	padding: 0;
	/* background-image: url("images/wolken.avif"); */
	/* HULP NODIG */
	
	anchor-name:--jeKuntIetsAanMijPlakken;
}

main > section:first-of-type img:nth-of-type(2){
	position: absolute;
	position-anchor: --jeKuntIetsAanMijPlakken;
	pointer-events: none;

	transition: .25s .75s;

}
/* shoutout naar Sanne voor dit stukje voor mn hero afbeelding */

html:has( nav.toonMenu ) section:first-of-type img:nth-of-type(2) {
	opacity: 0;

	transition: 0s;
}

main > section:nth-of-type(1) h1, p{
	padding: 0.7em;
}


/* sectie producten */

main > section:nth-of-type(2) > div {
	display: flex;
	justify-content: space-between;
	align-items: center; 
}

fieldset {
	border: none;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

input {
	padding: 1em;
	border-radius: 0.75em;
	border: solid 2px grey;
	appearance: none;
}

select {
	padding: 1em;
	border-radius: 0.75em;
	border: solid 2px grey;
	appearance: none;
	font-family: 'chunk rethunk';
}
/* hover nog doen */

/* styling producten */
main > section:nth-of-type(2) span{
	border: 0.125rem solid var(--textkleur);
	border-radius: 999rem;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 8em;
}
/* met behulp van Noa <3 */

/* hover op deze hierboven */
main > section:nth-of-type(2) a{
	font-family: 'proxima nova';
	color: var(--textkleur);
	text-decoration: none;
	font-weight: 700;
	display: flex;
	flex-direction: column; 
}

main > section:nth-of-type(2) li{
	list-style: none;
}

main > section:nth-of-type(2) ul {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	padding: 1em;
	margin: 0;
}

main > section:nth-of-type(2) img {
	background-color:var(--superlichtblauw) ;
	padding: 1em;
	border-radius: 1em;
}

main > section:nth-of-type(2) a img {
	order: 1;
}

main > section:nth-of-type(2) a h4 {
	order: 2;
}

main > section:nth-of-type(2) a span {
	order: 3;
}

/* youtube video */
main > section:nth-of-type(3) {
	display: flex;
	justify-content: center;
}
main > section:nth-of-type(3) iframe{
	width: 90%;
	padding: 1.5em;
}
